* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logo {
  width: 3.5rem;
}

body {
  background: linear-gradient(#9cb8a2fe 0%, #d7bfa3fe 49%, #8e4223fe 100%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  border-bottom: 1px solid #000;
  z-index: 999;
  backdrop-filter: blur(20px);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  text-align: center;
  padding: 0 10px;
}

.nav-item a{
  text-decoration: none;
  color: rgba(14, 59, 68, 255);
  font-weight: 500;
  font-size: .8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  

  &:hover {
    font-weight: 600;
  }
}

.contacto a{
  display: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #9cb8a2fe;
  background-color: rgba(14, 59, 68, 255);
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 10px 10px 20px rgba(255, 255, 255);
  }
}

.contact-icon {
  width: 1.5rem;
  margin-right: 1rem;
  color: #9cb8a2fe;
}


/* ---------- Section Header ------------- */

.header {
  width: 80%;
  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 15vw;
  line-height: 14vw;
  text-align: center;
  color: transparent;
  filter: drop-shadow(0 0 0.75rem #432013fe);

  background-image: url(./assets/fondo\ letras.jpg);
  background-size: cover;
  background-position-y: center;
  
  background-clip: text;
  -webkit-background-clip: text;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 600px;
  margin: 2rem auto 0 auto;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-svg {
  width: 2rem;
}

.icon span {
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.bypara {
  display:flex;
  justify-content: end;
  opacity: 0.6;
  margin-top: 0.5rem;
  font-size: .6rem;
  max-width: 80%;
  text-align: end;
}

.user-img {
    width: 90%;
    max-width: 600px;
    max-height: 500px;
    display: block;
    margin: 1.5rem auto 0 auto;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.header-para {
  font-size: 0.8rem;
  margin-top: 1rem;
  opacity: 0.6;
  text-align: center;
}

.menu-icon {
  display: none;
}

.show-menu {
  max-height: 60px;
}

/* ---------- Section About ------------- */

#about-container {
  height: calc(120vh - 80px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0 auto;
}

.about-title {
  font-size: 3rem;
  /* margin-bottom: 1rem; */
  color: #27130bfe;
}

.about-title span {
  color: #8e4223fe;
}

.video-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.video-container {
  display: grid;
  place-items: center;
  width: 90%;
  height: 90%;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  position: relative;
  object-fit: cover;
  
}

video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px; 
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

.audio-off {
  z-index: 3;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0.7;
}

.audio-on {
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0.7;
  display: none;
}

.about-para-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 500px;
}

.about-para {
  font-size: .6rem;
  margin-top: .4rem;
  opacity: 0.6;
  text-align: center;
  text-wrap: balance;
}

.icon-contact-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.icon-contact-container  a img {
  width: 32px;
  height: 32px;
}

.imagesSliderContainer {
  display: none;
}

/* ---------- Carrousel de imagenes ------------- */
.sliderImage {
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.mySlide {
  display: none;
}

.mySlide img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: 2rem auto 0 auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  opacity: 0.8;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  opacity: 0.8;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* ----------- Section Practicas -------------- */

#practicas {
  height: calc(210vh - 80px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0 auto;
}

.practicas-title {
  font-size: 2rem;
  color:  #27130bfe;
  text-align: center;
  margin-top: 3rem;
}

.practicas-title span {
  color: #8e4223fe;
}

.practicas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.practicas-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: #8e4223fe;
  color: #f2f2f2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
  }
}

.practica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.practica img {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
  border-radius: 4px;
  aspect-ratio: 16/9;
  margin: 0 auto;
  overflow: hidden;
}

.practica a {
  text-decoration: none;
  color: #f2f2f2;
}

.paragraph-card {
  font-size: 0.8rem;
  text-align: center;
  margin-top: .5rem;
  opacity: 0.8;
}


/* ---------- Section Contact -------------- */

#contact {
  height: calc(100vh - 80px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0 auto;
}

.contact-title {
  font-size: 3rem;
  color: #27130bfe;
  text-align: center;
  margin-top: 1rem;
}

.contact-title span {
  color: #8e4223fe;
}

.contacto-container h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #27130bfe;
}

.contacto-container p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity: 0.8;
}

.ayudarte {
  font-size: 1rem;
  font-weight: 600;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#contact-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.input-text-area {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#contact-form button {
  width: 50%;
  padding: 10px;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(14, 59, 68, 255);
  color: #f2f2f2;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    width: 55%;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(246, 243, 243, 0.5);
    font-size: 1rem;
  }
}

/* ---------- Media queris for navbar ------- */

@media only screen and (width <= 600px) {
  nav ul {
    position: absolute;
    width: 100%;
    background-color: #dbbbbffe;
    color: rgba(9, 57, 70, 255);
    left: 0;
    top: 100%;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .nav-btn {
    display: none;
  }

  .contacto a{
    display: inline;
  }

  .menu-icon {
    display: block;
    width: 50px;
    cursor: pointer;
  }
}

/* ------ Medias queries ---------*/

@media screen and (width >= 650px) {
 .user-img {
  width: 75%;
 }

 h1 {
  font-size: 9vw;
  line-height: 8vw;
 }

 .nav-list {
  gap: 2.5rem;
 }

 .bypara {
  font-size: .8rem;
 }

 .icon-svg {
  width: 3rem;
}

.icon span {
  font-size: 1.2rem;
}

.about-para {
  font-size: 0.8rem;

}

.icon-contact-container {
  gap: 2rem;
}

.icon-contact-container svg {
  width: 40px;
  height: 40px;
}

.icon-contact-container  a img {
  width: 40px;
  height: 40px;
}

.slideshow-container {
  max-width: 50%;
  
}

}


@media screen and (width >= 790px){
  #practicas {
    height: calc(140vh - 80px);
  }
}

@media screen and (width >= 960px) {
  
  .container {
  flex-direction: row; 
  margin-top: 100px;
  }

  .nav-list {
    gap: 3rem;
  }

  .user-img {
    width: 70%;
   }

   .bypara {
    font-size: 1rem;
  }

  .header-para {
    font-size: 1.5rem;
  }

  .nav-item a{
    font-size: 1.2rem;
  }

  .icon-container {
    margin-top: 50px;
  }

  .about-title {
    font-size: 3rem;
    text-align: end;
    width: 80%;
    margin-bottom: 0;
    text-align: right;
    margin-right: 300px;
  }

  #about-container {
    height: calc(100vh - 80px);
  }

  .about-title {
    margin-top: 3rem;
  }

  .video-description-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .video-container {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }
  
  .about-para-container {
    margin: 0 0 0 2rem;
    max-width: 600px;
    text-wrap: balance;
  }
  
  .about-para {
    font-size: 1.2rem;
    text-align: left;
  }

  .video-description-container {
    flex-direction: row;
  }

  video {
    width: 100%;
    height: 100%;
  }

  .slideshow-container {
    max-width: 30%;
    margin: 1rem auto 0 auto;
  }

  .slideshow-container {
    display: flex;
    
  }

  .icon-contact-container svg {
    width: 50px;
    height: 50px;
  }

  .icon-contact-container a img {
    width: 50px;
    height: 50px;
  }

  .slideshow-container {
    display: none;
  }

  .dots-container {
    display: none;
  }

  .imagesSliderContainer {
    display: flex;
    width: 80%;
    height: 35%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
  }

  .imagesSliderContainer img:first-child{
    border-radius: 8px 0 0 8px;
  }

  .imagesSliderContainer img:last-child{
    border-radius: 0 8px 8px 0;
  }
  
  .imagesSliderContainer img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  .images.hovered {
    width: 200px;
    opacity: 1;
    cursor: crosshair;
    filter: contrast(120%);
  }
  
  .imagesSliderContainer img:hover {
    width: 200px;
    opacity: 1;
    cursor: crosshair;
    filter: contrast(120%);
  }

  #practicas {
    height: calc(220vh - 80px);
    max-width: 60%;
    margin-top: 3rem;
  }

  .practicas-title {
    font-size: 3rem;
  }

  .contacto-container p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    opacity: 0.8;
  }
  
  #contact-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .input-text {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .input-text-area {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  #contact-form button {
    width: 50%;
    padding: 10px;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(14, 59, 68, 255);
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      width: 55%;
      padding: 15px;
      box-shadow: 10px 10px 20px rgba(246, 243, 243, 0.5);
      font-size: 1rem;
    }
  }
  
}

@media screen and (width >= 1054px) {
  #practicas {
    height: calc(140vh - 80px);
  }

@media screen and (width >= 1505px) {
  #practicas {
    height: calc(100vh - 80px);
  }
}
}