/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #d6f8f6fe;
}

header {
  color: white;
  padding: 20px;
  text-align: center;
  background-image: url(../fondo-header-blog.jpg);
  background-size: cover;
  overflow: hidden;
  mask-image: linear-gradient(black 90%, transparent);

}
header img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

header h1 {
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
  color: transparent;
  filter: drop-shadow(0 0 0.75rem #432013fe);

  background-image: url(../../assets/fondo\ letras.jpg);
  background-size: cover;
  background-position-y: center;
  
  background-clip: text;
  -webkit-background-clip: text;
}

/* .header {
  background-color: rgba(1, 131, 154, 0.9);
  color: whitesmoke;
  text-align: center;
  padding: 20px 10px;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
} */

.pages-img {
  width: 80%;
  height: 80%;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  aspect-ratio: 4/3;
  margin-bottom: 2rem;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.content p {
  margin-bottom: 20px;
}

.benefits {
  margin-top: 20px;
}

.benefit {
  margin-bottom: 20px;
}

.benefit h2 {
  color: rgba(1, 131, 154, 0.9);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.benefit p {
  margin: 0;
}

.benefit li strong {
  color: #4a90e2;
}

.conclusion {
  margin-top: 30px;
}

.conclusion h2 {
  color: rgba(1, 131, 154, 0.9);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.conclusion p {
  margin-bottom: 10px;
}

.back-btn {
  display: inline-block;
  background-color: rgba(1, 131, 154, 0.9);
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: rgba(1, 112, 132);
  }
}

/* Pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: rgba(1, 131, 154, 0.9);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


@media  screen and (width <= 600px) {
  header img {
    width: 70px;
    height: 70px;
  }

  header h1 {
    font-size: 5vw;
    line-height: 6vw;
  }

  .content p {
    font-size: 0.8em;
  }

  .benefit li  {
    font-size: 0.8em;
  }

  .conclusion p {
    font-size: 0.8em;
  }
  
  footer {
    font-size: 0.8em;
  }
  
}


@media  screen and (min-width: 601px) and (max-width: 1000px)  {
  header img {
    width: 80px;
    height: 80px;
  }

  header h1 {
    font-size: 3vw;
    line-height: 4vw;
  }

  .content p {
    font-size: 0.9em;
  }

  .benefit li  {
    font-size: 0.9em;
  }

  .conclusion p {
    font-size: 0.9em;
  }
  
  footer {
    font-size: 0.9em;
  }
  
}